@font-face {
    font-family: 'nose';
    src: url(./Fonts/Prompt-Bold.ttf);
}

@font-face {
    font-family: 'batman';
    src: url(./Fonts/batmfa__.ttf);
}

@font-face {
    font-family: 'russo';
    src: url(./Fonts/RussoOne-Regular.ttf);
}

body {
    background: black; /*#B3B8BB color gris*/
    padding: 0;
    margin: 0;
    margin-right: 0;
    margin-left: 0;
    font-family: 'russo';
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 30%;
}

.list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: 'batman';
    
}

.listo:hover {
    transition: color.2s ease-in-out;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    height: 70px;
    width: 50px;
    object-fit: cover;  
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color:black ;
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    border-top: 3px solid grey;
    border-bottom: 3px solid grey;
}

.section-1 {
    width: 70%;
    margin-left: 7%;
}

.section-1 h1 {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'batman';
    color: aqua;
}

.section-1 p {
    font-size: 2.3em;
    width: 80%;
    height: 20%;
    font-family: 'russo';
}

.equipos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35%;
    width: 35%;
    margin-right: 4%;
}

.section-header-2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.section-2 {
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aqua;
}

.section-2 h2 {
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'batman';
}

.section-2-1 p {
    font-size: 2.5em;
    width: 60%;
    font-family: 'russo';
    margin-right: 1%;
    margin-bottom: 6%;
}

.section-2-1 {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 3px solid grey;
    
}

.section-header-3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #323232;
    
}

.section-3 {
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aqua;
}

.section-3 h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'batman';
}

.section-3-info {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.section-3-info-img {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.mayus {
    text-transform: uppercase;
}

.centro {
    text-align: center;
}

.section-header-4 {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-top: 3px solid grey;
    background-color: black;
}

.section-4 h2 {
    text-transform: uppercase;
    font-family: 'batman';
    margin-left: 2%;
}

.container-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 20%;
}

.card img {
    width: 70%;
    border-radius: 30px;
}

.card img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}